:root {
    --btn-login-color: #C2C4B6;
    --btn-color: #EEEEEE;
    --scroll-color: #acacac;
    --btn-bg-color: #F9EBC8;
    --btn-naver-color: #03C75A;
    --btn-kakao-color: #FEE500;
    --btn-facebook-color: #1877F2;
    --btn-find-color: #FFD9C0;
    --warning-color: #FEECE9;
    --auth-btn-color: #F5E7DD;
    --font-basic-color: #51777C;
}

.fullDiv {
    margin-top: 13vh;
    text-align: center;
}

h2 {
    font-size: 30px;
}

.mainDiv {
    width: 90%;
    margin: 0 auto;
    margin-top: 10vh;
    align-items: center;
    height: 100vh;
}

.mapDetail {
    width: 40%;
    height: 650px;
    float: left;
    border-radius: 1em;
    box-shadow: 5px 5px 10px 0px darkgray;
}

.map {
    z-index: 0;
    margin: 0 auto;
    margin-top: 1em;
}

.listV {
    width: 100%;
    height: auto;
    padding: 1.5em;
    text-align: left;
    overflow-y: auto;
}

p {
    font-size: 17px;
}

p > b {
    background-color: var(--auth-btn-color);
}

.selectList {
    margin-left: 50px;
    float: right;
    text-align: right;
    margin-right: 10vh;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0px darkgray;
}

select {
    padding: 5px;
    margin-right: 5px;
    border: 0;
    border-radius: 10px;
    background-color: var(--btn-color);
}

thead {
    width: 100%;
    display: block;
    border-collapse: collapse;
}

.listTabel th:nth-of-type(1), td:nth-of-type(1) {
    width: 250px;
}

.listTabel th:nth-of-type(2), td:nth-of-type(2) {
    width: 150px;
}

.listTabel th:last-child {
    width: 220px;
}

.listTabel td:last-child {
    width: calc(220px - 20px);
}

tbody {
    display: block;
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: scroll;
    cursor: pointer;
}

.listTabel th, td {
    padding: 15px;
    border-bottom: 1px solid darkgray;
    text-align: center;
}


.listTabel tbody > tr:hover {
    background-color: var(--btn-color);
}

tbody::-webkit-scrollbar {
    width: 6px;
    background-color: var(--btn-color);
}

tbody::-webkit-scrollbar-thumb{
    height: 17%;
    background-color: var(--scroll-color);
    border-radius: 10px;    
}
