:root {
    --btn-login-color: #C2C4B6;
    --btn-color: #EEEEEE;
    --btn-bg-color: #F9EBC8;
    --btn-naver-color: #03C75A;
    --btn-kakao-color: #FEE500;
    --btn-facebook-color: #1877F2;
    --btn-find-color: #FFD9C0;
    --warning-color: #FEECE9;
    --auth-btn-color: #F5E7DD;
    --font-basic-color: #51777C;
    --bg-color: #FCF8E8;
}

.navMenu {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    background-color: var(--bg-color);
    border-bottom: 2px solid var(--font-basic-color);
}

.menu {
    text-align: center;
    left: 50%;
    list-style-type: none;
    margin: 0;
    padding: 15px;
    overflow: hidden;
}

.logo {
    width: 60px;
    cursor: pointer;
}

.menu > li {
    float:left;
}

.menu > li > a {
    display: block;
    font-size: medium;
    color: var(--font-basic-color);
    font-weight: normal;
    padding: 8px;
    text-decoration: none;
}

.subMenu {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    text-align: left;
}